[user]
	name = Darwin D Wu
	email = wuddarwin@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
[color]
	ui = true
[alias]
	co = checkout
