[user]
	name = Darwin D Wu
	email = darwin67@users.noreply.github.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
[color]
	ui = true
[alias]
	co = checkout
[include]
	path = ~/.gitignore/github_cred
[rerere]
	enabled = true
[magithub]
	online = true
[magithub "status"]
	includeStatusHeader = true
	includePullRequestsSection = true
	includeIssuesSection = true
[github]
	user = darwin67
