[Unit]
Description=Dynamic Wallpaper
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/settimed "{{ theme }}"
ExecStop=/usr/bin/pkill settimed

[Install]
WantedBy=sway-session.target
