/*
 * Reference:
 * https://man.archlinux.org/man/wofi.7.en
 *
 * Colors from Nord's color palettes
 * https://www.nordtheme.com/docs/colors-and-palettes
*/

window {
    margin: 0px;
    border: 1px solid #5e81ac;
    border-radius: 10px;
    background-color: #2e3440;
}

#input {
    margin: 5px;
    border: none;
    color: #d8dee9;
    background-color: #2e3440;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #2e3440;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #2e3440;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #d8dee9;
}

#entry.activatable {
    background-color: #4c566a;
}

#entry.activatable #text {
    color: #88c0d0;
}

#entry > * {
    color: #d8dee9;
}

#entry:selected {
    background-color: #81a1c1;
}

#entry:selected #text {
    font-weight: bold;
}
